<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    {% include "html_reference.html"%}
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="navbar.css" rel="stylesheet">-->
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="navbar-collapse" id="containerNavbar">
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    {% if not session['account']%}
                    <a class="dropdown-item" href="/login">Login</a>
                    {%endif%}
                    {% if session['account']%}
                    <h6 class="dropdown-item">{{session['name']}}</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">logout</a>
                    <a class="dropdown-item" href="/favorite">favorite</a>
                    {%endif%}
                </div>
            </div>
            <form class="form-inline my-2 my-md-0" action="/results">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>
