{% extends "base.html"%}
{% block content%}
{% for video in user_video%}
<div class="card">
    <div class="card-block">
        <a href="{{video.link}}"><h4 class="card-title">
            {{video.title}}</h4></a>
    </div>
    <div class="card-block">
        <a href="{{video.link}}"><img class="card-img-top"
                                      src="{{video.img}}"
                                      alt="Card image cap" width="196" height="110"></a>
        <form action="/download" target="_blank">
            <br>
            <button type="submit" class="btn btn-warning" name="value"
                    value="MP3&{{video.link}}">MP3
            </button>
            <button type="submit" class="btn btn-danger" name="value"
                    value="MP4&{{video.link}}">MP4
            </button>
        </form>

        <form action="/delete" method="post">
            <input type="hidden" name="link" value="{{video.link}}">
            <button type="submit" class="btn btn-warning"
            >delete
            </button>
        </form>
    </div>
</div>


{%endfor%}
{%endblock%}
